
@import 'normalize';

/***********************************************************
Variables
***********************************************************/
//$media-mobile: 768px;
$media-tablet: 768px;

$font: 'Roboto', Arial, Helvetica, sans-serif;
$base-font-size: 16px;
$line-height: 1.15em;
$content-line-height: 1.5em;

$header-font: 'Open Sans', sans-serif;

$color: #222;
$background-color: #fff;
$inverse-color: #fff;

$header-color: #003D74;
$header-background-color: $background-color;

$gutter: 1rem;
$vertical-spacing: 1.5em;

$title-size: 3em;
$subtitle-size: 1.7em;

$debug-border: 0px solid #0c0;

$xp-position-line-height: 1.5rem;

$section-header-icon-color: $header-background-color;
$section-header-icon-background-color: $header-color;

/***********************************************************
Element styling
***********************************************************/

body {
  color: $color;
  background-color: $background-color;
  font-family: $font;
  font-size: $base-font-size;
  line-height: $line-height;
}

p, ul {
  line-height: $content-line-height;
  margin: 0 0 .25em;
}

%headers {
  font-family: $header-font;
  color: $header-color;
  background-color: $header-background-color;
  line-height: $line-height;
}

h1, h2, h3, h4, h5, h6 {
  @extend %headers;
  &:first-child {
    margin-top: 0;
  }

}

/*
 * Because this is meant to look like a printed document,
 * Links appear as normal text, hovering shows line
 */
a {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/***********************************************************
Layout
***********************************************************/
.container {
  padding: $gutter * 2;
}

.columns {
  display: flex;
  position: relative;
  flex-direction: column;
}

.column-main {
  flex-grow: 1;
}


/***********************************************************
Resume section formatting
***********************************************************/
.header {
  .name {
    @extend %headers;
    font-size: $title-size;
    margin-bottom: $gutter / 2;
  }

  .profession {
    @extend %headers;
    font-size: $subtitle-size;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: $gutter;
  }

}

.section {
  margin-top: $vertical-spacing;

  >.title {
    padding-bottom: .3em;
    border-bottom: 1px solid #ddd;

    // Icons in a header are shown in reverse color
    .far, .fas {
      background-color: $section-header-icon-background-color;
      color: $section-header-icon-color;
      padding: 0.3em;
      width: 1.25em;
      height: 1em;
      text-align: center;
      margin-right: .3em;
    }
  }
}

.page-break {
  display: none !important;
}

.entry {
  display: flex;
  // flex-direction: column;

  +.entry {
    margin-top: $vertical-spacing;
  }

  .dates {
    // flex-shrink: 1;
    min-width: 4em;
    max-width: 4em;
    font-weight: bold;
  }

  .details {
    margin-left: $gutter;

    .title {
      color: $color;
      font-size: 1.4em;
      line-height: $xp-position-line-height;
      margin-bottom: .4em;
    }

    .subtitle {
      font-size: 1.1em;
      font-style: italic;
      margin-bottom: .7em;
    }

    ul.description {
        padding-inline-start: 1.5em;
        margin-block-start: 0;
        margin-block-end: 0;
    }
  }
}

.personal-info {
  +.personal-info {
    margin-top: $gutter;
  }
  p {
    margin: 0;
  }
  .label {
    font-weight: bold;
    margin-bottom: .2em;
  }
}

.skills {
  max-width: 250px;
}

.skill {
  margin-bottom: .5em;
  display: flex;
  justify-content: space-between;
}

@mixin ratingblock($selector, $value) {
  &.rating-#{$selector} div:nth-child(-n+#{$value}) {
    background-color: $header-color;
  }
}

.rating-graphic {
  min-width: 6em;
  div {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: 3px;
    background-color: #ddd;
  }
  @include ratingblock(one, 1);
  @include ratingblock(two, 2);
  @include ratingblock(three, 3);
  @include ratingblock(four, 4);
  @include ratingblock(five, 5);
}

.rating-display {
  text-align: right;
  font-size: .8em;
}

@media screen and ( min-width: 550px ) and ( max-width: $media-tablet - 1 ) {
  .column-side {
    display: flex;
    > div {
      flex-grow: 1;

      +div {
        margin-left: $gutter * 2;
      }
    }
  }
}
@media ( min-width: $media-tablet ) {
  .container {
    max-width: 990px;
    min-height: calc(100vh - 2rem - 60px);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px 0px;
    margin: 1em auto;
  }

  .columns {
    flex-direction: row-reverse;

    >.column {
      // padding-left: $gutter;
      // padding-right: $gutter;
      +.column {
        margin-right: $gutter * 2;
      }

    }
  }

  .column-side {
    width: 30%;
  }

  .entry {
    flex-direction: row;

    // .dates {
    //   min-width: 90px;
    //   > div {
    //     white-space: nowrap;
    //   }
    // }
  }
}

@media print {
  body {
    font-size: 12px;
  }

  .fas {
    -webkit-print-color-adjust: exact;
  }
  .container {
    padding: 0;
  }

  .columns {
    flex-direction: row-reverse;
    .column-side {
      margin-left: $gutter * 2;
    }
    // >.column {
    //   +.column {
    //     margin-right: .75in;
    //   }

    // }
  }

  @page {
    margin: .5in;
  }
  .entry {
    //page-break-inside: avoid;
    // orphans: 6;
  }

  .page-break {
    // page-break-after: always;
    display: block !important;
    height: 3em;
    // clear: left;
  }

  .rating-graphic {
    display: none;
  }
}
