
body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

$color: #222;
$inverse-color: #fff;
$header-color: #003D74;

$gutter: 1rem;

$debug-border: 0px solid silver;

p, ul {
  line-height: 1.5em;
}
.container {
  max-width: 990px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 25px 0px;
  margin: 1rem auto;
  min-height: 90vh;
  padding: $gutter * 2;
}

.columns {
  display: flex;
  position: relative;
  flex-direction: rows;

  >.column {
    flex-grow: 1;
    border: $debug-border;
    padding: $gutter;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &.is-three-quarter {
      flex-grow: 0;
      width: 75%;
    }
    &.is-right {
      width: 25%;
      flex-grow: 0;
    }
  }
}

%headers {
  font-family: 'Open Sans', sans-serif;
  color: $header-color;

}

h1, h2, h3, h4, title {
  @extend %headers;


  &:first-child {
    margin-top: 0;
  }

  .far, .fas {
    background-color: $header-color;
    color: $inverse-color;
    padding: 0.3em;
    width: 1em;
    height: 1em;
    text-align: center;
    margin-right: .3em;
  }
}

a {
  color: $color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.title {
  @extend %headers;
  font-size: 3em;
  margin-bottom: $gutter / 2;
}
.subtitle {
  @extend %headers;
  font-size: 1.7em;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: $gutter;
}

.header {
  .summary {
  }
}
.section {
  +.section {
    margin-top: $gutter * 2;
  }

  .heading {
    padding-bottom: .4em;
    border-bottom: 1px solid #ddd;
  }
}

.experience {
  display: flex;

  +.experience {
    margin-top: $gutter;
  }
  .dates {
    flex-shrink: 1;
    min-width: 90px;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.75em;
    // margin-right: $gutter;
  }

  .details {
    margin-left: $gutter;
    .position {
      color: $color;
      font-size: 1.4em;
      margin-bottom: .25em;
    }
    .company {
      font-size: 1.1em;
      font-style: italic;
      margin-bottom: .5em;
    }
    ul.description {
        padding-inline-start: 1.5em;
        margin-block-start: 0;
        margin-block-end: 0;
    }
  }
}

.personal-info {
  +.personal-info {
    margin-top: $gutter;
  }
  p {
    margin: 0;
  }
  .label {
    font-weight: bold;
    margin-bottom: .2em;
  }
}

@mixin ratingblock($selector, $value) {
  &.#{$selector} div:nth-child(-n+#{$value}) {
    background-color: $header-color;
  }
}

.skill {
  display: flex;
  .name {
    flex-grow: 1;
  }

  // > div {

  //   display: inline-block;
  //   vertical-align: top;
  //   // width: 50%;
  //   &.name {
  //     margin-right: .5em;
  //     width:
  //   }
  // }
}
.rating {
  div {
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-right: .1em;
    background-color: #ddd;
  }
  @include ratingblock(one, 1);
  @include ratingblock(two, 2);
  @include ratingblock(three, 3);
  @include ratingblock(four, 4);
  @include ratingblock(five, 5);

  // &.one {
  //   div:nth-child(-n+1) {

  //   }
  // }
  // &.two {
  //   div:nth-child(-n+1) {

  //   }
  // }
  // &.three {
  //   div:nth-child(-n+1) {

  //   }
  // }
  // &.four {
  //   div:nth-child(-n+1) {

  //   }
  // }
  // &.five {
  //   background-color:
  // }
}
